---
layout: default
title: Home
meta: A jewellery website from designer Nora Cameron.
showbanner: yes
bannertext: Time to Shine!
---
<div class="grid">

	<div class="gutter-half unit unit-s-1 unit-m-1-1 promo-unit-l-1-1">
		{% include promo-large.html title="SPRING SALE" desc="20-40% off Storewide!" desc2="Some exceptions do apply" %}
	</div>
</div>

<div class="grid">

	<div class="gutter-half unit unit-s-1 unit-m-1-3 promo-unit-l-1-3">
		{% include promo-small.html title="Rings" desc="30% off!" desc2="Free polish cloth with $50 purchase" %}
	</div>
	
	<div class="gutter-half unit unit-s-1 unit-m-1-3 promo-unit-l-1-3">
		{% include promo-small.html title="Bracelets" desc="40% off!" desc2="New collection does not apply" %}
	</div>
	
	<div class="gutter-half unit unit-s-1 unit-m-1-3 promo-unit-l-1-3">
		{% include promo-small.html title="Necklaces" desc="25% off!" desc2="Gift wrap options available" %}
	</div>

</div>
	
<div class="unit-s-1">
	<p class="p-typo">Welcome to Shiny Things Jewellery. We have a great selection of unique and one-of a-kind pieces strictly for the silver lover. From rings to bracelets, necklaces to earrings, we have it all. Take a peek at our selection and don't forget to like us on Facebook and Twitter for upcoming sales and discounts. Have fun and happy shopping!</p>
</div>
