# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Sasha Chama}
- {Grant Jeffery}
- {Emma McInall}

## Tasks

1. {Find the ring called 'Danica'}
2. {Checkout the necklace 'Grace'}
3. {Go to the product page for the ring 'Claudia}

---

## Individual Results & Observations

### {Sasha Chama}

- {She clicked on the link as expected}
- {She had trouble understanding what a product page was}
- {didn't have any trouble navigating through the site}

### {Grant Jeffery}

- {He clicked on the link as expected}
- {Found the checkout button easily}
- {Didn't have trouble navigating through the site}
- etc.

### {Emma McInall}

- {She clicked on the links as expected}
- {He had no troubles completing the tasks }

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had no problems}

### Serious, Causes Frustration, May Hinder Completion

- {none}

### Minor, Annoying, Won’t Hinder Completion

- {None}