
.promo-h1 {
	font-size: 2.5rem; 
	line-height: 2rem;
	margin-top: 1rem;
	color: rgb(0,12,47)
 }
	
.promo-h2 {
	font-size: 2rem;
	line-height: 2rem;
	color: #6D6D6D;
	}
	
.sm-promo-h1 {
	font-size: 2.5rem; 
	line-height: 2rem;
	margin-top: 1rem;
	color: rgb(0,12,47)
 }
 
 .sm-promo-h2 {
	font-size: 2rem;
	line-height: 2rem;
	color: #6D6D6D;
}

h3 {
	color: white;
	margin-bottom: 1rem;
}

.media-img {
	max-width: 600px;
}

.promo-giga {
	color: #6D6D6D;
}

@media only screen and (min-width: 20em) {
	.promo-h1 {
	font-size: 3.5rem; 
	line-height: 1rem;
	margin-top: 2rem;
	color: rgb(0,12,47)
 	}
}

@media only screen and (min-width: 30em) {
	.promo-h1 {
	font-size: 2rem; 
	line-height: 1rem;
	margin-top: 2rem;
	color: rgb(0,12,47)
 	}
	
	.promo-h2 {
	font-size: 1.75rem;
	line-height: 2rem;
	color: #6D6D6D;
	}
	
	.sm-promo-h1 {
	font-size: 1rem; 
	line-height: 0.001rem;
 	}
 
 	.sm-promo-h2 {
	font-size: 1.5rem;
	line-height: 0.001rem;
	}
	
	.promo-giga {
	font-size: 0.75rem;
	}
		
	.media-img {
		max-width: 250px;
	}
	
	.sm-bucket {
		padding: 1rem 1% 1rem 1%;
	}
		
}

@media only screen and (min-width: 50em) {
	.promo-h1 {
	font-size: 5rem; 
	line-height: 3rem;
	margin-top: 2rem;
	color: rgb(0,12,47)
 	}
	
	.promo-h2 {
	font-size: 2.5rem;
	line-height: 2rem;
	color: #6D6D6D;
	}
	
	.sm-promo-h1 {
	font-size: 2.5rem; 
	line-height: 2rem;
 	}
 
 	.sm-promo-h2 {
	font-size: 3rem;
	line-height: 2rem;
	}
	
	.promo-giga {
	font-size: 0.75rem;
	}
	
	.media-img {
		max-width: 300px;
	}
}


@media only screen and (min-width: 80em) {
	.promo-h1 {
	font-size: 9rem; 
	color: rgb(0,12,47)
 }

.promo-h2 {
	font-size: 5rem;
	color: #6D6D6D;
	line-height: 7.5rem;
	}
	
	.media-img {
		max-width: 430px;
	}
}
	

