
.footer {
	background-color: #fff;
	clear: both;
}

.centered {
	text-align: center;
}

.social {
	width: 29.25%;
	margin: 0 2% 1.5rem 2%;
}

h6 {
	margin-top: 1.5rem;
}

.footer-nav {
		margin-top: 1.5rem;
	}

@media only screen and (min-width: 30em) {
	.social {
		margin: 0 1% 1.5rem 1%;
	}
	
	h6 {
		height: 0.5rem;
	}
	
	.footer-nav {
		clear: both;
	}
}	

@media only screen and (min-width: 43.75em) {
	.footer-nav {
		clear: none;
	}
}

@media only screen and (min-width: 50em) {
	
	.social {
		max-width: 50px;
	}
	
	.footer-nav {
		margin-top: 1.5rem;
	}
	
	h6 {
		margin-top: 1.5rem;
	}
}


