
#search input[type="text"] {
	background: url(search-white.png) no-repeat 10px 6px #fcfcfc;
	border: 1px solid #d1d1d1;
	font: normal 100%/1.5 Open Sans Condensed, sans-serif;
	color: #bebebe;
	width: 100%;
	margin-bottom: 0.5rem;
    /*width: 150px;*/
	padding: 6px 15px 6px 35px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
}

.search {
	position: absolute;
	top: -10em;
}
/*#search input[type="text"]:focus {
    width: 200px;
    }*/