
.product-name {
	text-align: left;
	margin-top: 1rem;
}

.description {
	text-align: left;
}

.price {
	text-align: left;
	color: rgb(194,107,0);
}

.img-hover:hover {
	opacity: 0.6; 
	transition: all 110ms linear;

}

.name-hover:hover,
.name-hover:focus,
.name-hover:active {
	color: rgba(194,107,0,.5);
	transition: all 110ms linear;

}