
.promo-small {
	background: -webkit-linear-gradient(#E1E1E1, #F9F9F9, #E1E1E1);
	padding: 2rem 2% 2rem 2%;
	margin-bottom: 1rem;	
}

.promo-large {
	background: -webkit-linear-gradient(#E1E1E1, #F9F9F9, #E1E1E1);
	padding: 2rem 2% 2rem 2%;
	margin-bottom: 1rem;	
}